@use "@/styles/mq" as mq;

//Clouds
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cloudBox {
  position: absolute;
  width: 100px;
  height: 80px;
  @include mq.up(desktop) {
    width: 160px;
    height: 115px;
  }
}
.topLeft {
  top: 0;
  left: 0;
}
.topRight {
  top: 0;
  right: 0;
}

.bottomLeft {
  bottom: 0;
  left: 0;
}
.bottomRight {
  bottom: 0;
  right: 0;
}

