.myPrediction {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  margin-top: 20px;
  gap: 14px;
  align-items: center;
}
.badgeOuter {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding: 1px;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), 90%, 65%, 0.9),
    hsla(var(--hue), 90%, 55%, 0.25)
  );
  display: grid;
  place-items: center;
}

.badgeInner {
  width: 95%;
  height: 95%;
  border-radius: 150px;
  display: grid;
  place-items: center;
  background: rgba(10, 10, 14, 0.20);
  border: 1px solid rgba(255,255,255,0.10);
  backdrop-filter: blur(10px);
}

.hash {
  position: absolute;
  transform: translateX(-12px);
  font-size: 12px;
  color: hsla(var(--hue), 95%, 70%, 1);
  opacity: 0.65;
  display: none;
}

.num {
  font-size: 22px;
  font-weight: 800;
  color: hsla(var(--hue), 95%, 70%, 1);
  text-shadow: 0 0 14px hsla(var(--hue), 95%, 60%, 0.25);
}


.summaryMeta {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  gap: 6px;
  width: 268px;
}

.summaryMetaItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  flex: 1;
}

.summaryMetaLabel {
  font-weight: 700;
  font-size: 10px;
  flex: 1;
  opacity: 0.4;
  text-transform: uppercase;
}
.summaryMetaValue {
  line-height: 1;
  font-weight: 900;
  flex: 2;
}
.summaryMuted {
  font-size: 10px;
  font-weight: 200;
  display: none;
}