@use "../../../styles/animations";

@use "./shell.module.scss";
@use "./numbers.module.scss";
@use "./amount.module.scss";
@use "./summary.module.scss";
@use "./footer.module.scss";
@use "./locked-number.module.scss";
@use "./success.module.scss";
@use "./clouds.module.scss";