.borders {
  width: 100%;
  height: 100%;
  position: absolute;
}
.borderBox {
  position: absolute;
  width: 60px;
  height: 60px;
}
.topLeft {
  rotate: 180deg;
  top: 0;
  left: 0;
}
.topRight {
  rotate: -90deg;
  top: 0;
  right: 0;
}
.bottomLeft {
  rotate: 90deg;
  bottom: 0;
  left: 0;
}
.bottomRight {
  bottom: 0;
  right: 0;
}