.resolvedMessage {
  position: relative;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #f2edb9;
  min-height: auto;
  align-self: center;
  background-size: cover;
  font-size: 12px;
  font-weight: 900;
}

.resolvedInner {
  position: relative;
  padding: 40px 42px;
}

