@use "../../../styles/animations";

@use "./modal.module.scss";
@use "./body.module.scss";
@use "./top-circle.module.scss";
@use "./predictions.module.scss";
@use "./win.module.scss";
@use "./claim.module.scss";
//@use "./xp.module.scss";