@use "@/styles/mq" as mq;


.heroWallet {
  border: 4px solid;
  border-radius: 150px;
  flex-wrap: wrap;
  place-items: center;
  gap: 10px;
  width: 150px;
  height: 150px;
  display: grid;
  position: absolute;
  top: -75px;
  left: 50%;
  margin-left: -80px;
  z-index: 2;
  @include mq.up(desktop) {
    border: 5px solid;
    width: 180px;
    height: 180px;
    top: -89px;
    margin-left: -90px;
  }


  &::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 3px 3px 10px rgba(2, 2, 2, 0.9);
    background: linear-gradient(
      var(--angle, 0deg),
      #daf6ff,
      #abd1de,
      #53acc9,
      #67aec5,
      #daf6ff,
      #e4aafa
    );

    animation: rotate-hue 4s linear infinite, borderGlow 2s ease infinite;
    filter: blur(1px);
    pointer-events: none;
    @include mq.up(desktop) {
      inset: -5px;
    }
  }
}

.heroWalletInner {
  background: url(/SVG/stars.svg) center / cover no-repeat, linear-gradient(#0e1625, #0e1625f7);
  width: 100%;
  height: 100%;
  border-radius: 300px;
  display: grid;
  place-items: center;
}


.handleRankBx {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 6px;
}

.handle {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  @include mq.up(desktop) {
    font-size: 22px;
  }
}

.rank {
  font-size: 14px;
  color: #ffc200;
  text-transform: uppercase;
  position: absolute;
  top: 26px;
  @include mq.up(desktop) {
    top: 28px;
  }
}