$panelBlue: #2d3c55;
$darkBlue: #182238;
$blueGrain: #202b3d;
$purple: #9945ff;
$pink: #db2777;
$green: #a3e635;
$yellow: #fde047;
$orange: #ffd400;
$gold: #70633f;
$gold2: #bfb47b;

$glow: #daf6ff;

$blueGlowShadow: rgb(10 175 230) 0px 0px 15px, rgb(10 175 230 / 0%) 0px 0px 15px;
$blueGlowShadowSm: rgb(10 175 230) 0px 0px 8px, rgb(10 175 230 / 0%) 0px 0px 8px;
$blueGlowShadowXs: rgb(10 175 230) 0px 0px 4px, rgb(10 175 230 / 0%) 0px 0px 5px;

$greenGlowShadowSm: rgb(163 230 53) 0px 0px 7px, rgb(163 230 53 / 0%) 0px 0px 7px;
$pinkGlowShadowSm: rgb(219 39 119) 0px 0px 8px, rgb(219 39 119 / 0%) 0px 0px 8px;

